@import "../node_modules/bootstrap/scss/bootstrap";

.page-header {
    background-color: rgb(59, 56, 56);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.wrapper {
    display: flex;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.btn-row > button{
    min-width: 48%;
  }
/*
#bank > button {
    background-color: forestgreen;
    color: white;
}
*/