/*@import "../node_modules/bootstrap/scss/bootstrap";*/

.page-header {
    background-color: rgb(59, 56, 56);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.page-section {
    background-color: rgb(224, 222, 222);
    height: 100%;
}

.wrapper {
    display: flex;
}

.position-absolute {
    bottom: 0;
    margin-bottom: .5rem;
}

.bottomContainer > button {
    min-width: 45%;
  }

.rowButton {
    width: 100%;
}

.bottomContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

/*
#bank > button {
    background-color: forestgreen;
    color: white;
}
*/